<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4 col-md-offset-2">
          <h3>Contact</h3>
          <p>
            <a href="mailto:cfs.bsi@outlook.com?Subject=ShortcutsWorld" target="_top">cfs.bsi@outlook.com</a>
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>About the Project</h3>
          <p>Take a look on my <a href="http://github.com/cfsbsi/shortcutsworld" target="_blank">github</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Dragon Developer :) 2016
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>